.skill {
    padding: 0 0 80px 0;
    position: relative;
}

#habilidades {
    background-color: #121212;
}

.skill-box {
    background-color: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 80px 70px;
    margin-top:  -60px;
}

h2, .stacks-title {
    color: white;
    font-family: 'Centra';
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

p {
   color: #B8B8B8;
   font-weight: 500;
   font-family: 'Centra';
   font-size: 18px;
   letter-spacing: 0.8px;
    line-height: 1.5em;
}

.Stacks {
    margin-top: 20px;
    color: white;
    font-family: 'Centra';
    font-weight: 500;
}



 .item {
    width: 50%;
    margin: 15px auto;
    position: relative;
}

